.image_edit_container{
    //position: relative;
    height: 100%;
    .canvas_container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        max-height: 80%;
        text-align: center;
        .originCanvas{
            position: absolute;
            z-index: -1;
        }
    }
    
    .edit_tools_container{
        position: absolute;
        bottom: 0;
        padding: .2rem 0;
        width: 100%;
        text-align: center;
        .hover_link{
            display: inline-block;
        }
        .tool_but {
            padding: .1rem 0.3rem;
            border-radius: 30px;
            &.active{
                background: rgb(85, 153, 230);
                color:#fff;
            }
        }
    }
}

.hover_link{
    position: relative;
    .list_show{
        display: none;
        position: absolute;
        top: 23px;
        width: 100%;
    }
    &:hover{
        .list_show{
            display: block;
        }
    }
}